.Home{
    width: 100%;
    margin: 0;
}


.block-1{
    width: 100%;
    background-color:#cfe8fc ;
    height: 500px;
}

.block-2{
    width: 100%;
    background-color: thistle;
    height: 500px;
}

.block-1 button{
    display: block;
}